<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-feature android:name="android.hardware.type.watch" android:required="true" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <application android:label="PSiptv Remote" android:icon="@drawable/app_icon" android:roundIcon="@drawable/app_icon"
      android:theme="@android:style/Theme.Material.NoActionBar" android:usesCleartextTraffic="true"
      android:allowBackup="false" android:supportsRtl="true">
    <!-- The watch is intentionally only a remote for PSiptv on another device. -->
    <meta-data android:name="com.google.android.wearable.standalone" android:value="false" />
  </application>
</manifest>
